@use 'variable';

* {
    font-family: "Poppins";
}

header .navbar {
    // background-color: variable.$orange;
    // background-color: #000000;
    // position: fixed;
    // width: 100%;

    ul li a {
        font-size: 20px;
        font-weight: 500;

        &:hover {
            text-decoration: underline;
            color: variable.$white;
        }
    }

    .lets {
        border: 1px solid black;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 10px;
        border-radius: 20px;
        background-color: variable.$black;

        h2 {
            font-size: 10px;
            font-weight: 100;
            color: variable.$milk-white;
        }

        &:hover {
            background-color: variable.$sky;
            transform: scale(1.2);
            transition: 1s;
            cursor: pointer;
        }
    }
}

.hero_section {
    width: 100%;
    height: 70vh;
    background-image: url(/img/MOUNTAIN.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    // background-attachment: fixed;
    background-position: center;

    // opacity: 0.4;
    // background-color: #1b303d;
    .hero_container {
        width: 100%;
        // height: 100vh;
        background-color: #0a101eec;


        .hero_heading {
            height: 80vh;
            text-align: center;
            padding-top: 150px;
            z-index: 1;

            h5 {
                color: #fdfeff;
                font-size: 20px;
                font-weight: 600;
                // padding-left: 30px;
            }

            h1 {
                color: #efc544;
                font-size: 45px;
                font-weight: 400;
                // padding-left: 120px;
            }

            p {
                color: #a9adb8;
                font-size: 16px;
                font-weight: 300;
                // padding-left: 430px;
            }

            .btn {

                // padding-left: 500px;
                button {
                    padding: 5px 15px;
                    background-color: variable.$black;
                    border-radius: 25px;
                    border: none;
                }

                button a {
                    text-decoration: none;
                    color: variable.$white;
                }

                button:hover {
                    background-color: variable.$orange;
                    transform: scale(1);
                    transition: 1s;
                }
            }
        }

    }
}

// About Section Start
.about_section {
    padding: 65px 0px;
    background-color: #0a101e;

    h3 {
        text-align: center;
        font-size: 30px;
        font-weight: 500;
        color: #efc544;
    }

    .about_container {
        // border: 1px solid black;
        padding: 50px 20px;
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        gap: 80px;


        .abt_img {
            width: 45%;

            img {
                width: 100%;
                height: 65vh;
                object-fit: cover;
                background-color: #203745e0;
                // border-radius: 30px;
                margin: 0 auto;
                display: block;
                // box-shadow: 0px 0px 15px;
                border: 1px solid black;
            }
        }

        .abt_heading {
            width: 55%;
            gap: 20px;
            // padding: 30px;
            text-align: left;


            h2 {
                font-size: 40px;
                font-weight: 300;
                color: #ffffff;
            }

            h4 {
                font-size: 24px;
                font-weight: 400;
                color: #efc544;
            }

            p {
                font-size: 14px;
                font-weight: 300;
                color: #ffffff;

            }

            b {
                padding-right: 30px;
                font-size: 16px;
            }

            button {
                padding: 5px 15px;
                border-radius: 25px;
                border: none;
                background-color: #efc544;

                a {
                    text-decoration: none;
                    color: variable.$white;
                }

                &:hover {
                    background-color: variable.$gray;
                    transform: scale(1.1);
                    transition: 1s;
                }
            }

            h2 {
                margin-top: 10px;
                font-size: 30px;
                font-weight: 700;
                color: #fdfeff;
            }

            .social_icon {
                width: 50%;
                font-size: 50px;
                display: flex;
                justify-content: space-between;

                i {
                    color: #ffffff;

                    &:hover {
                        color: #efc544;
                        transform: scale(1);
                        transition: 1s;
                        cursor: pointer;
                    }
                }

            }
        }

    }
}

// Resume Section Start
.resume_section {
    background-color: #0e131d;
    padding: 50px 0px;

    .resume_container {
        width: 70%;
        margin: 0 auto;
        margin: auto;
        // background-color: variable.$milk-white;


        h1 {
            font-size: 30px;
            font-weight: 600;
            text-align: center;
            color: #efc544;
        }

        h2 {
            font-size: 40px;
            font-weight: 300;
            color: #ffffff;
            text-align: center;
        }

        .exp_section {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            // gap: 50px;


            .resume {
                width: 40%;
                // border: 1px dashed variable.$black;

                .education {
                    width: 100%;
                    padding: 30px;
                    border-radius: 25px;
                    margin: 0 auto;
                    text-align: left;

                    h4 {
                        font-size: 20px;
                        font-weight: 300;
                        color: #ffffff;

                    }

                    h3 {
                        font-size: 24px;
                        font-weight: 400;
                        color: #efc544;
                    }

                    p {
                        font-size: 20px;
                        font-weight: 400;
                        color: #ffffff;
                    }


                }

            }

            .exper {
                width: 60%;
                border-left: 1px dashed variable.$white;

                .education {
                    width: 100%;
                    padding: 45px;
                    border-radius: 25px;
                    text-align: left;


                    h4 {
                        font-size: 20px;
                        font-weight: 300;
                        color: #ffffff;

                    }

                    h3 {
                        font-size: 24px;
                        font-weight: 400;
                        color: #efc544;

                    }

                    p {
                        font-size: 20px;
                        font-weight: 400;
                        color: #ffffff;
                    }

                }


            }

        }
    }
}



// Skills Section Start
.skills_section {
    width: 100%;
    height: 100vh;
    padding: 65px 13%;
    background-color: #0a101e;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


    .skills_head {
        width: 70%;
        margin-bottom: 100px;
        display: grid;
        place-items: center;
        text-align: center;
        margin-bottom: 50px;

        h1 {
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 20px;
            color: #ffffff;

            span {
                color: #efc544;
            }
        }

        p {
            font-size: 16px;
            font-weight: 300;
            color: #ffffff;
        }
    }

    .skills_main {
        width: 70%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 30px;
        grid-column-gap: 50px;

        .skill_bar {
            .info {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 10px;

                p:nth-child(2) {
                    font-weight: 500;
                }
            }

            .bar {
                width: 100%;
                height: 10px;
                background-color: #ffffff;
                border-radius: 25px;
                margin-top: 5px;
                position: relative;

                span {
                    height: 100%;
                    position: absolute;
                    background-color: #efc544;
                    border-radius: 25px;
                }

                .html {
                    width: 90%;
                    animation: html 2s;
                }

                .css {
                    width: 85%;
                    animation: css 2s;
                }

                .sass {
                    width: 80%;
                    animation: sass 2s;
                }

                .js {
                    width: 60%;
                    animation: js 2s;
                }

                .react {
                    width: 20%;
                    animation: react 2s;
                }

                .node {
                    width: 70%;
                    animation: node 2s;
                }

                .express {
                    width: 75%;
                    animation: express 2s;
                }

                .mongo {
                    width: 60%;
                    animation: mongo 2s;
                }
            }
        }
    }
}



// Project section

.project_section {
    padding: 50px 0px;
    width: 100%;
    background-color: #0e131d;

    .project_container {
        width: 70%;
        margin: auto;

        .project_heading {
            width: 100%;

            h1 {
                font-size: 30px;
                font-weight: 600;
                text-align: center;
                margin-top: 30px;
                color: #efc544;
            }
        }

        .project_img {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 30px;

            .break_img {
                width: 30%;
                height: 35vh;
                background-image: url(../img/breakio\ website.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                display: flex;
                justify-content: center;
                align-items: start;
                padding-top: 10px;

                &:hover {
                    transform: all 1s ease;
                    border: 2px solid #efc544;
                    transition: 1s;
                }

                h3 {
                    font-size: 16px;
                    font-weight: 300;
                    color: #ffffff;
                    margin-bottom: 10px;
                    a{
                        text-decoration: none;
                        color: #ffffff;
                        &:hover {
                            transform: all 1s ease;
                            color: #efc544;
                            transition: 1s;
                            cursor: pointer;
                        }
                    }

                   
                }
            }

            .nex_img {
                width: 30%;
                height: 35vh;
                background-image: url(../img/nexcent\ website.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                display: flex;
                justify-content: center;
                align-items: start;
                padding-top: 10px;

                &:hover {
                    transform: all 1s ease;
                    border: 2px solid #efc544;
                    transition: 1s;
                }

                h3 {
                    font-size: 16px;
                    font-weight: 300;
                    color: #ffffff;
                    margin-bottom: 10px;

                    a{
                        text-decoration: none;
                        color: #ffffff;
                        &:hover {
                            transform: all 1s ease;
                            color: #efc544;
                            transition: 1s;
                            cursor: pointer;
                        }
                    }
                }
            }

            .weeb_img {
                width: 30%;
                height: 35vh;
                background-image: url(../img/weeb\ website.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                display: flex;
                justify-content: center;
                align-items: start;
                padding-top: 10px;

                &:hover {
                    transform: all 1s ease;
                    border: 2px solid #efc544;
                    transition: 1s;
                }

                h3 {
                    font-size: 16px;
                    font-weight: 300;
                    color: #ffffff;
                    margin-bottom: 10px;

                    a{
                        text-decoration: none;
                        color: #ffffff;
                        &:hover {
                            transform: all 1s ease;
                            color: #efc544;
                            transition: 1s;
                            cursor: pointer;
                        }
                    }
                }
            }

            .solar_img {
                width: 30%;
                height: 35vh;
                background-image: url(../img/solar\ website.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                display: flex;
                justify-content: center;
                align-items: start;
                padding-top: 10px;

                &:hover {
                    transform: all 1s ease;
                    border: 2px solid #efc544;
                    transition: 1s;
                }

                h3 {
                    font-size: 16px;
                    font-weight: 300;
                    color: #ffffff;
                    margin-bottom: 10px;

                    a{
                        text-decoration: none;
                        color: #ffffff;
                        &:hover {
                            transform: all 1s ease;
                            color: #efc544;
                            transition: 1s;
                            cursor: pointer;
                        }
                    }
                }
            }

            .health_img {
                width: 30%;
                height: 35vh;
                background-image: url(../img/healthcare.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                display: flex;
                justify-content: center;
                align-items: start;
                padding-top: 10px;

                &:hover {
                    transform: all 1s ease;
                    border: 2px solid #efc544;
                    transition: 1s;
                }

                h3 {
                    font-size: 16px;
                    font-weight: 300;
                    color: #ffffff;
                    margin-bottom: 10px;

                    a{
                        text-decoration: none;
                        color: #ffffff;
                        &:hover {
                            transform: all 1s ease;
                            color: #efc544;
                            transition: 1s;
                            cursor: pointer;
                        }
                    }
                }
            }

            .car_img {
                width: 30%;
                height: 35vh;
                background-image: url(../img/car\ care\ website.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                display: flex;
                justify-content: center;
                align-items: start;
                padding-top: 10px;

                &:hover {
                    transform: all 1s ease;
                    border: 2px solid #efc544;
                    transition: 1s;
                }

                h3 {
                    font-size: 16px;
                    font-weight: 300;
                    color: #ffffff;
                    margin-bottom: 10px;

                    a{
                        text-decoration: none;
                        color: #ffffff;
                        &:hover {
                            transform: all 1s ease;
                            color: #efc544;
                            transition: 1s;
                            cursor: pointer;
                        }
                    }
                }
            }

            .donation_img {
                width: 30%;
                height: 35vh;
                background-image: url(../img/donation\ landing\ page.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                display: flex;
                justify-content: center;
                align-items: start;
                padding-top: 10px;

                &:hover {
                    transform: all 1s ease;
                    border: 2px solid #efc544;
                    transition: 1s;
                }

                h3 {
                    font-size: 16px;
                    font-weight: 300;
                    color: #ffffff;
                    margin-bottom: 10px;

                    a{
                        text-decoration: none;
                        color: #ffffff;
                        &:hover {
                            transform: all 1s ease;
                            color: #efc544;
                            transition: 1s;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

    }
}

// Contact us start
#section-wrapper {
    width: 100%;
    padding: 10px;
    background-color: #0a101e;

    .box-wrapper {
        position: relative;
        display: table;
        // width: 1100px;
        width: 70%;
        margin: auto;
        margin-top: 35px;
        border-radius: 30px;
        // border: 1px dashed black;
        // box-shadow: 0px 0px 10px;

        .info-wrap {
            width: 37%;
            height: 551px;
            padding: 30px;
            float: left;
            display: block;
            border-radius: 30px 0px 0px 30px;
            background-color: #0e131d;
            color: variable.$black;

            .info-title {
                text-align: left;
                font-size: 28px;
                letter-spacing: 0.5px;
                color: #efc544;
            }

            .info-sub-title {
                font-size: 20px;
                font-weight: 300;
                margin-top: 17px;
                letter-spacing: 0.5px;
                line-height: 26px;
                color: #ffffff;
            }

            .info-details {
                list-style: none;
                // margin-left: -36px;
                padding: 45px 0px;

                li {
                    margin-top: 16px;
                    font-size: 14px;
                    color: variable.$white;

                    i {
                        background: #efc544;
                        padding: 12px;
                        border-radius: 50%;
                        margin-right: 5px;

                    }

                    a {
                        color: #8c8c8c;
                        text-decoration: none;

                        &:hover {
                            color:#efc544 ;
                        }
                    }

                }
            }

            .social-icons {
                list-style: none;
                text-align: center;
                margin: 20px 0px;

                li {
                    display: inline-block;

                    i {
                        background: #efc544;
                        color: #fff;
                        padding: 15px;
                        font-size: 20px;
                        border-radius: 22%;
                        margin: 0px 5px;
                        cursor: pointer;
                        transition: all .5s;

                        &:hover {
                            background: #fff;
                            color: #000000;
                        }
                    }
                }
            }

        }

        .form-wrap {
            width: 63%;
            // height: 551px;
            float: right;
            padding: 28px 25px 24px 25px;
            border-radius: 0px 30px 30px 0px;
            background-color: #0e131d;

            .form-title {
                text-align: left;
                margin-left: 23px;
                font-size: 30px;
                font-weight: 400;
                letter-spacing: 0.5px;
                color: #efc544;
            }

            .form-fields {
                display: table;
                width: 100%;
                padding: 15px 5px 5px 5px;

                input,
                textarea {
                    border: none;
                    outline: none;
                    background: none;
                    font-size: 18px;
                    color: #ffffff;
                    padding: 20px 10px 20px 5px;
                    width: 100%
                }

                textarea {
                    height: 150px;
                    resize: none;
                }

                .form-group {
                    width: 46%;
                    float: left;
                    padding: 0px 30px;
                    margin: 14px 12px;
                    border-radius: 25px;
                    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;

                    &:last-child {
                        width: 96%;
                    }
                }

            }

            .submit-button {
                width: 96%;
                height: 60px;
                margin: 0px 12px;
                border-radius: 30px;
                font-size: 20px;
                font-weight: 700;
                outline: none;
                border: none;
                cursor: pointer;
                color: #fff;
                text-align: center;
                background: #505050;
                box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
                transition: .5s;


                &:hover {
                    background: variable.$drak-gray;
                }
            }

        }

    }
}

.section_footer .footer_container {
    width: 100%;
    padding: 40px 0px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0a101e;
    margin-top: 0px;

    .footer_para {
        width: 50%;
        padding-left: 30px;

        p {
            font-size: 16px;
            font-weight: 300;
            text-align: center;
            color: #ffffff;
        }
    }

    .footer_p {
        width: 50%;
        text-align: center;
        padding-right: 30px;

        p {
            font-size: 16px;
            font-weight: 300;
            text-align: center;
            color: #ffffff;
        }
    }

}