@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Rancho&family=Water+Brush&display=swap");
* {
  font-family: "Poppins";
}

header .navbar ul li a {
  font-size: 20px;
  font-weight: 500;
}
header .navbar ul li a:hover {
  text-decoration: underline;
  color: #FFFFFF;
}
header .navbar .lets {
  border: 1px solid black;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  border-radius: 20px;
  background-color: #252422;
}
header .navbar .lets h2 {
  font-size: 10px;
  font-weight: 100;
  color: #fffcf2;
}
header .navbar .lets:hover {
  background-color: #caf0f8;
  transform: scale(1.2);
  transition: 1s;
  cursor: pointer;
}

.hero_section {
  width: 100%;
  height: 80vh;
  background-image: url(/img/MOUNTAIN.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero_section .hero_container {
  width: 100%;
  height: 80vh;
  background-color: rgba(10, 16, 30, 0.9254901961);
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero_section .hero_container .hero_heading {
  text-align: center;
  z-index: 1;
}
.hero_section .hero_container .hero_heading h5 {
  color: #fdfeff;
  font-size: 20px;
  font-weight: 600;
}
.hero_section .hero_container .hero_heading h1 {
  color: #efc544;
  font-size: 45px;
  font-weight: 400;
}
.hero_section .hero_container .hero_heading p {
  color: #a9adb8;
  font-size: 16px;
  font-weight: 300;
}
.hero_section .hero_container .hero_heading .btn button {
  padding: 5px 15px;
  background-color: #252422;
  border-radius: 25px;
  border: none;
}
.hero_section .hero_container .hero_heading .btn button a {
  text-decoration: none;
  color: #FFFFFF;
}
.hero_section .hero_container .hero_heading .btn button:hover {
  background-color: #eb5e28;
  transform: scale(1);
  transition: 1s;
}

.about_section {
  padding: 65px 0px;
  background-color: #0a101e;
}
.about_section h3 {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  color: #efc544;
}
.about_section .about_container {
  padding: 50px 20px;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  gap: 80px;
}
.about_section .about_container .abt_img {
  width: 45%;
}
.about_section .about_container .abt_img img {
  width: 100%;
  height: 65vh;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: rgba(32, 55, 69, 0.8784313725);
  margin: 0 auto;
  display: block;
  border: 1px solid black;
}
.about_section .about_container .abt_heading {
  width: 55%;
  gap: 20px;
  text-align: left;
}
.about_section .about_container .abt_heading h2 {
  font-size: 40px;
  font-weight: 300;
  color: #ffffff;
}
.about_section .about_container .abt_heading h4 {
  font-size: 24px;
  font-weight: 400;
  color: #efc544;
}
.about_section .about_container .abt_heading p {
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
}
.about_section .about_container .abt_heading b {
  padding-right: 30px;
  font-size: 16px;
}
.about_section .about_container .abt_heading button {
  padding: 5px 15px;
  border-radius: 25px;
  border: none;
  background-color: #efc544;
}
.about_section .about_container .abt_heading button a {
  text-decoration: none;
  color: #FFFFFF;
}
.about_section .about_container .abt_heading button:hover {
  background-color: #292929;
  transform: scale(1.1);
  transition: 1s;
}
.about_section .about_container .abt_heading h2 {
  margin-top: 10px;
  font-size: 30px;
  font-weight: 700;
  color: #fdfeff;
}
.about_section .about_container .abt_heading .social_icon {
  width: 50%;
  font-size: 50px;
  display: flex;
  justify-content: space-between;
}
.about_section .about_container .abt_heading .social_icon i {
  color: #ffffff;
}
.about_section .about_container .abt_heading .social_icon i:hover {
  color: #efc544;
  transform: scale(1);
  transition: 1s;
  cursor: pointer;
}

.resume_section {
  background-color: #0e131d;
  padding: 50px 0px;
}
.resume_section .resume_container {
  width: 70%;
  margin: 0 auto;
  margin: auto;
}
.resume_section .resume_container h1 {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  color: #efc544;
}
.resume_section .resume_container h2 {
  font-size: 40px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
}
.resume_section .resume_container .exp_section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.resume_section .resume_container .exp_section .resume {
  width: 40%;
}
.resume_section .resume_container .exp_section .resume .education {
  width: 100%;
  padding: 30px;
  border-radius: 25px;
  margin: 0 auto;
  text-align: left;
}
.resume_section .resume_container .exp_section .resume .education h4 {
  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
}
.resume_section .resume_container .exp_section .resume .education h3 {
  font-size: 24px;
  font-weight: 400;
  color: #efc544;
}
.resume_section .resume_container .exp_section .resume .education p {
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
}
.resume_section .resume_container .exp_section .exper {
  width: 60%;
  border-left: 1px dashed #FFFFFF;
}
.resume_section .resume_container .exp_section .exper .education {
  width: 100%;
  padding: 45px;
  border-radius: 25px;
  text-align: left;
}
.resume_section .resume_container .exp_section .exper .education h4 {
  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
}
.resume_section .resume_container .exp_section .exper .education h3 {
  font-size: 24px;
  font-weight: 400;
  color: #efc544;
}
.resume_section .resume_container .exp_section .exper .education p {
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
}

.skills_section {
  width: 100%;
  height: 100vh;
  padding: 65px 13%;
  background-color: #0a101e;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.skills_section .skills_head {
  width: 70%;
  margin-bottom: 100px;
  display: grid;
  place-items: center;
  text-align: center;
  margin-bottom: 50px;
}
.skills_section .skills_head h1 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #ffffff;
}
.skills_section .skills_head h1 span {
  color: #efc544;
}
.skills_section .skills_head p {
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
}
.skills_section .skills_main {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 50px;
}
.skills_section .skills_main .skill_bar .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.skills_section .skills_main .skill_bar .info p:nth-child(2) {
  font-weight: 500;
}
.skills_section .skills_main .skill_bar .bar {
  width: 100%;
  height: 10px;
  background-color: #ffffff;
  border-radius: 25px;
  margin-top: 5px;
  position: relative;
}
.skills_section .skills_main .skill_bar .bar span {
  height: 100%;
  position: absolute;
  background-color: #efc544;
  border-radius: 25px;
}
.skills_section .skills_main .skill_bar .bar .html {
  width: 90%;
  animation: html 2s;
}
.skills_section .skills_main .skill_bar .bar .css {
  width: 85%;
  animation: css 2s;
}
.skills_section .skills_main .skill_bar .bar .sass {
  width: 80%;
  animation: sass 2s;
}
.skills_section .skills_main .skill_bar .bar .js {
  width: 60%;
  animation: js 2s;
}
.skills_section .skills_main .skill_bar .bar .react {
  width: 20%;
  animation: react 2s;
}
.skills_section .skills_main .skill_bar .bar .node {
  width: 70%;
  animation: node 2s;
}
.skills_section .skills_main .skill_bar .bar .express {
  width: 75%;
  animation: express 2s;
}
.skills_section .skills_main .skill_bar .bar .mongo {
  width: 60%;
  animation: mongo 2s;
}

.project_section {
  padding: 50px 0px;
  width: 100%;
  background-color: #0e131d;
}
.project_section .project_container {
  width: 70%;
  margin: auto;
}
.project_section .project_container .project_heading {
  width: 100%;
}
.project_section .project_container .project_heading h1 {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-top: 30px;
  color: #efc544;
}
.project_section .project_container .project_img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.project_section .project_container .project_img .break_img {
  width: 30%;
  height: 35vh;
  background-image: url(../img/breakio\ website.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 10px;
}
.project_section .project_container .project_img .break_img:hover {
  transform: all 1s ease;
  border: 2px solid #efc544;
  transition: 1s;
}
.project_section .project_container .project_img .break_img h3 {
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 10px;
}
.project_section .project_container .project_img .break_img h3 a {
  text-decoration: none;
  color: #ffffff;
}
.project_section .project_container .project_img .break_img h3 a:hover {
  transform: all 1s ease;
  color: #efc544;
  transition: 1s;
  cursor: pointer;
}
.project_section .project_container .project_img .nex_img {
  width: 30%;
  height: 35vh;
  background-image: url(../img/nexcent\ website.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 10px;
}
.project_section .project_container .project_img .nex_img:hover {
  transform: all 1s ease;
  border: 2px solid #efc544;
  transition: 1s;
}
.project_section .project_container .project_img .nex_img h3 {
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 10px;
}
.project_section .project_container .project_img .nex_img h3 a {
  text-decoration: none;
  color: #ffffff;
}
.project_section .project_container .project_img .nex_img h3 a:hover {
  transform: all 1s ease;
  color: #efc544;
  transition: 1s;
  cursor: pointer;
}
.project_section .project_container .project_img .weeb_img {
  width: 30%;
  height: 35vh;
  background-image: url(../img/weeb\ website.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 10px;
}
.project_section .project_container .project_img .weeb_img:hover {
  transform: all 1s ease;
  border: 2px solid #efc544;
  transition: 1s;
}
.project_section .project_container .project_img .weeb_img h3 {
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 10px;
}
.project_section .project_container .project_img .weeb_img h3 a {
  text-decoration: none;
  color: #ffffff;
}
.project_section .project_container .project_img .weeb_img h3 a:hover {
  transform: all 1s ease;
  color: #efc544;
  transition: 1s;
  cursor: pointer;
}
.project_section .project_container .project_img .solar_img {
  width: 30%;
  height: 35vh;
  background-image: url(../img/solar\ website.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 10px;
}
.project_section .project_container .project_img .solar_img:hover {
  transform: all 1s ease;
  border: 2px solid #efc544;
  transition: 1s;
}
.project_section .project_container .project_img .solar_img h3 {
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 10px;
}
.project_section .project_container .project_img .solar_img h3 a {
  text-decoration: none;
  color: #ffffff;
}
.project_section .project_container .project_img .solar_img h3 a:hover {
  transform: all 1s ease;
  color: #efc544;
  transition: 1s;
  cursor: pointer;
}
.project_section .project_container .project_img .health_img {
  width: 30%;
  height: 35vh;
  background-image: url(../img/healthcare.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 10px;
}
.project_section .project_container .project_img .health_img:hover {
  transform: all 1s ease;
  border: 2px solid #efc544;
  transition: 1s;
}
.project_section .project_container .project_img .health_img h3 {
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 10px;
}
.project_section .project_container .project_img .health_img h3 a {
  text-decoration: none;
  color: #ffffff;
}
.project_section .project_container .project_img .health_img h3 a:hover {
  transform: all 1s ease;
  color: #efc544;
  transition: 1s;
  cursor: pointer;
}
.project_section .project_container .project_img .car_img {
  width: 30%;
  height: 35vh;
  background-image: url(../img/car\ care\ website.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 10px;
}
.project_section .project_container .project_img .car_img:hover {
  transform: all 1s ease;
  border: 2px solid #efc544;
  transition: 1s;
}
.project_section .project_container .project_img .car_img h3 {
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 10px;
}
.project_section .project_container .project_img .car_img h3 a {
  text-decoration: none;
  color: #ffffff;
}
.project_section .project_container .project_img .car_img h3 a:hover {
  transform: all 1s ease;
  color: #efc544;
  transition: 1s;
  cursor: pointer;
}
.project_section .project_container .project_img .donation_img {
  width: 30%;
  height: 35vh;
  background-image: url(../img/donation\ landing\ page.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 10px;
}
.project_section .project_container .project_img .donation_img:hover {
  transform: all 1s ease;
  border: 2px solid #efc544;
  transition: 1s;
}
.project_section .project_container .project_img .donation_img h3 {
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 10px;
}
.project_section .project_container .project_img .donation_img h3 a {
  text-decoration: none;
  color: #ffffff;
}
.project_section .project_container .project_img .donation_img h3 a:hover {
  transform: all 1s ease;
  color: #efc544;
  transition: 1s;
  cursor: pointer;
}

#section-wrapper {
  width: 100%;
  padding: 10px;
  background-color: #0a101e;
}
#section-wrapper .box-wrapper {
  position: relative;
  display: table;
  width: 70%;
  margin: auto;
  margin-top: 35px;
  border-radius: 30px;
}
#section-wrapper .box-wrapper .info-wrap {
  width: 37%;
  height: 551px;
  padding: 30px;
  float: left;
  display: block;
  border-radius: 30px 0px 0px 30px;
  background-color: #0e131d;
  color: #252422;
}
#section-wrapper .box-wrapper .info-wrap .info-title {
  text-align: left;
  font-size: 28px;
  letter-spacing: 0.5px;
  color: #efc544;
}
#section-wrapper .box-wrapper .info-wrap .info-sub-title {
  font-size: 20px;
  font-weight: 300;
  margin-top: 17px;
  letter-spacing: 0.5px;
  line-height: 26px;
  color: #ffffff;
}
#section-wrapper .box-wrapper .info-wrap .info-details {
  list-style: none;
  padding: 45px 0px;
}
#section-wrapper .box-wrapper .info-wrap .info-details li {
  margin-top: 16px;
  font-size: 14px;
  color: #FFFFFF;
}
#section-wrapper .box-wrapper .info-wrap .info-details li i {
  background: #efc544;
  padding: 12px;
  border-radius: 50%;
  margin-right: 5px;
}
#section-wrapper .box-wrapper .info-wrap .info-details li a {
  color: #8c8c8c;
  text-decoration: none;
}
#section-wrapper .box-wrapper .info-wrap .info-details li a:hover {
  color: #efc544;
}
#section-wrapper .box-wrapper .info-wrap .social-icons {
  list-style: none;
  text-align: center;
  margin: 20px 0px;
}
#section-wrapper .box-wrapper .info-wrap .social-icons li {
  display: inline-block;
}
#section-wrapper .box-wrapper .info-wrap .social-icons li i {
  background: #efc544;
  color: #fff;
  padding: 15px;
  font-size: 20px;
  border-radius: 22%;
  margin: 0px 5px;
  cursor: pointer;
  transition: all 0.5s;
}
#section-wrapper .box-wrapper .info-wrap .social-icons li i:hover {
  background: #fff;
  color: #000000;
}
#section-wrapper .box-wrapper .form-wrap {
  width: 63%;
  float: right;
  padding: 28px 25px 24px 25px;
  border-radius: 0px 30px 30px 0px;
  background-color: #0e131d;
}
#section-wrapper .box-wrapper .form-wrap .form-title {
  text-align: left;
  margin-left: 23px;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #efc544;
}
#section-wrapper .box-wrapper .form-wrap .form-fields {
  display: table;
  width: 100%;
  padding: 15px 5px 5px 5px;
}
#section-wrapper .box-wrapper .form-wrap .form-fields input,
#section-wrapper .box-wrapper .form-wrap .form-fields textarea {
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  color: #ffffff;
  padding: 20px 10px 20px 5px;
  width: 100%;
}
#section-wrapper .box-wrapper .form-wrap .form-fields textarea {
  height: 150px;
  resize: none;
}
#section-wrapper .box-wrapper .form-wrap .form-fields .form-group {
  width: 46%;
  float: left;
  padding: 0px 30px;
  margin: 14px 12px;
  border-radius: 25px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}
#section-wrapper .box-wrapper .form-wrap .form-fields .form-group:last-child {
  width: 96%;
}
#section-wrapper .box-wrapper .form-wrap .submit-button {
  width: 96%;
  height: 60px;
  margin: 0px 12px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 700;
  outline: none;
  border: none;
  cursor: pointer;
  color: #fff;
  text-align: center;
  background: #505050;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  transition: 0.5s;
}
#section-wrapper .box-wrapper .form-wrap .submit-button:hover {
  background: #403d39;
}

.section_footer .footer_container {
  width: 100%;
  padding: 40px 0px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0a101e;
  margin-top: 0px;
}
.section_footer .footer_container .footer_para {
  width: 55%;
  padding-left: 30px;
}
.section_footer .footer_container .footer_para p {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
}
.section_footer .footer_container .footer_p {
  width: 40%;
  text-align: end;
  padding-right: 30px;
}
.section_footer .footer_container .footer_p p {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
}/*# sourceMappingURL=style.css.map */